body {
    background-color: antiquewhite;
}
h1 {
    color: #040404;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    text-align: center;
}
p {
    color: #201f1f;
    font-family: 'Trebuchet MS', 'sans-serif';
    text-align: justify;
}
h2 {
    color: #383737;
    font-family: 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    text-align: center;
}
h3 {
    color: #383737;
    font-family: 'Calibri', 'Trebuchet MS', 'sans-serif';
    text-align: center;
}