*{

    box-sizing: border-box;
}

/*  sem o comando acima o tamanho dos objetos será dado pelo cálcul abaixo

Largura Total = width + padding esquerdo + padding direito + border esquerdo + border direito + margin esquerdo + margin direito
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcf6fb;
}
header {
    border: 2px solid #34004b;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    background-color: #e8f3fc
}

main {
    margin: 10px auto;
    width: 80%;
}

section {
    border: 2px solid #34004b;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    border-top: 2px solid #34004b;
    margin: 0 auto;
    padding: 2px;
    width: 80%;
    background-color: #fcf9e8
}
    